<html ng-app="mainModule">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/catalog.css" rel="stylesheet">
</head>
<!--googleoff: snippet-->
<body style="top: 51px;">
    <%- include('partial/checkout_menu')%>
        <div ng-controller="catalogController" id="ctnCont">
            <div id="loading">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <section class="catalog-store-info" ng-cloak>
                <div>
                    <div class="catalog-store-cover fadeIn"></div>
                </div>
                <div id="del-opt-background" class="del-opt-background"></div>
                <div class="store-info-txt-box" ng-show="deliveryOption">
                    <div class="store-name-txt">{{ display_storeInfo.display_name }}</div>
                    <scheduler store-type="storeType" delivery-option="deliveryOption" delivery-date="deliveryDate" open-time="open_time" close-time="close_time"></scheduler>
                    <div class="del-opt-info" ng-cloak>
                        <div ng-show="display_storeInfo.open == false && deliveryOption == 'ASAP Delivery'" class="store-oval store-open-hrs">Store Closed. Opens at {{ open_time }}</div>
                        <div ng-show="display_storeInfo.open == true && deliveryOption == 'ASAP Delivery'" class="store-hrs-txt">Open {{ close_time }}</div>
                        <div ng-show="deliveryOption == 'Scheduled Delivery'" class="store-hrs-txt">{{ deliveryDate.month + " " + deliveryDate.day + ", " + deliveryDate.time}}</div>
                        <ng-md-icon icon="fiber_manual_record"></ng-md-icon>
                        <div class="store-oval store-DF">C$4.99 Delivery Fee</div>
                    </div>
                </div>
            </section>
            <div class="catalog-content" ng-cloak>
                <div ng-if="screenIsMob">
                    <button ng-click="mobHub()" class="fadeIn mob-hub-btn">
                        <ng-md-icon ng-class="mob_hub_icon_c" icon="arrow_drop_down"></ng-md-icon>hub
                    </button>
                    <section class="mobile-hub-section" ng-class="mob_hub_grow_c">

                        <global-search ng-show="showMobHub" class="global-search-catalog" style="width: 100vw;"></global-search>

                        <div ng-show="showMobHub" class="m-hub-header">
                            <div ng-click="selectHubSec(1)" class="p-1">
                                <div class="mh-header-txt mhh-highlight">Store List</div>
                                <div class="mh-header-line header-line-grow"></div>
                            </div>
                            <div ng-click="selectHubSec(2)" class="p-2">
                                <div class="mh-header-txt">Store Aisle</div>
                                <div class="mh-header-line"></div>
                            </div>
                            <div ng-click="selectHubSec(3)" class="p-3">
                                <div class="mh-header-txt store-shelf">Shelf</div>
                                <div class="mh-header-line"></div>
                            </div>
                        </div>
                        <div ng-show="showMobHub" class="mh-store-box">
                            <div ng-show="hubSecSelected == 1" class="fadeIn mh-body mh-store">
                                <div class="mh-store-div" ng-class="('<%= loadedStore %>' == 'Liquor Station') ? 'mh-store-selected' : ''" ng-click="hrefToStore('/catalog/liquor-station')">
                                    <img src="/resources/images/non-catalog-image/store-logo/liquor-station_icon.png">
                                    <span>Liquor Station</span>
                                </div>
                                <div class="mh-store-div" ng-class="('<%= loadedStore %>' == 'Dwarf Stars') ? 'mh-store-selected' : ''" ng-click="hrefToStore('/catalog/dwarf-stars')">
                                    <img src="/resources/images/non-catalog-image/store-logo/dwarf-stars_icon.png">
                                    <span>Dwarfs Stars</span>
                                </div>
                                <div class="mh-store-div" ng-class="('<%= loadedStore %>' == 'Linas Italian Market') ? 'mh-store-selected' : ''" ng-click="hrefToStore('/catalog/linas-italian-market')">
                                    <img src="/resources/images/non-catalog-image/store-logo/linas-italian-store_icon.png">
                                    <span>Lina's Italian Market</span>
                                </div>
                                <div class="mh-store-div" ng-class="('<%= loadedStore %>' == 'Snack Vendor') ? 'mh-store-selected' : ''" ng-click="hrefToStore('/catalog/snack-vendor')">
                                    <img src="/resources/images/non-catalog-image/store-logo/snack-vendor_icon.png">
                                    <span>Snack Vendor</span>
                                </div>
                            </div>
                            <div ng-show="hubSecSelected == 2" class="fadeIn mh-body">
                                <div class="mh-cat-div" ng-repeat="category in <%= categories %> track by $index" ng-click="hrefToCat(category)" ng-class="('<%= selectedCategory %>' == category) ? 'mh-cat-selected' : ''">
                                    {{ category }}
                                </div>
                            </div>
                            <div ng-show="hubSecSelected == 3" class="fadeIn mh-body">
                                <md-radio-group id="1_rBtn" ng-model="SubcategoryName">
                                    <md-radio-button class="cat-body-cat" ng-repeat="variant in subcategories | orderBy" id="radio_{{ $index }}" ng-value="variant" ng-click="checkSubcategories(variant)">
                                        <span class="variant-txt">{{ variant }}</span>
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </section>
                </div>
                <section id="cat-subcat-sec" class="cat-subcat-absolute cat-section">
                    <div ng-click="showHideCategory()" class="cat-subcat-header">
                        <div class="flex-column">
                            <div ng-class="header_aisle_wc">Store Aisle</div>
                            <div ng-class="aisle_line_wc" class="header-line"></div>
                        </div>
                        <div class="sep-line-hdr-cs">|</div>
                        <div class="flex-column">
                            <div ng-class="header_cat_wc" class="store-shelf">Shelf</div>
                            <div ng-class="cat_line_wc" class="header-line"></div>
                        </div>
                    </div>
                    <div id="subcategory_box" class="cat-subcat-body">
                        <md-radio-group ng-model="SubcategoryName">
                            <md-radio-button class="cat-body-cat" id="radio_{{$index}}" ng-repeat="variant in subcategories | orderBy" ng-value="variant" ng-click="checkSubcategories(variant)">
                                <span>{{ variant }}</span>
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                    <div id="category_box" class="cat-subcat-body category-box">
                        <ul class="cat-list same-line" layout="column">
                            <li ng-repeat='category in <%= categories %> track by $index' ng-click="hrefToCat(category)" style="outline: none;">
                                <div class="category-list" ng-style="( '<%= selectedCategory %>' == category ) && {'background-color': 'rgba(0,189,149,0.7)'}">
                                    <span ng-style="( '<%= selectedCategory %>' == category ) && {'font-weight':'700', 'color': 'rgba(255,255,255,1)','font-size':'20px'}">{{ category }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <section id="items-section" class="items-section" ng-class="cat_content_mob_c">
                    <div ng-repeat="product in products">
                        <div ng-if="isInSelectedSubcategories(product.subcategory)">
                            <div class="item-box" id="{{ product.product_id }}">
                                <ul class="item-box-ul fadeIn">
                                    <button class="add-to-cart-btn" ng-click="addToCart(product, v_index)">
                                        <ng-md-icon icon="add_shopping_cart"></ng-md-icon>
                                    </button>
                                    <li class="item-pic" ng-click="hrefPrdPage(product)">
                                        <img ng-src="{{ product.image }}">
                                    </li>
                                    <li class="catalog-text item-brand" ng-click="hrefPrdPage(product)">
                                        <div ng-if="product.product_variants[product.product_variants.all_volumes[0]].all_packagings[0] > 1"><span>{{ product.brand }} {{ product.name }}</span> ({{ product.product_variants[product.product_variants.all_volumes[0]].all_packagings[0] }} x {{ product.product_variants.all_volumes[0] }})</div>
                                        <div ng-if="product.product_variants[product.product_variants.all_volumes[0]].all_packagings[0] <= 1"><span>{{ product.brand }} {{ product.name }}</span> ({{ product.product_variants.all_volumes[0] }})</div>
                                    </li>
                                    <li class="catalog-text item-price">
                                        <span>{{ product.product_variants[product.product_variants.all_volumes[0]][product.product_variants[product.product_variants.all_volumes[0]].all_packagings[0]].price}}C$</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        </div>
        <% if (!production) { %>
            <script src="/resources/services/localStorage.js"></script>
            <script src="/resources/services/cartService.js"></script>
            <script src="/resources/directives/scheduler.js"></script>
            <script src="/resources/controllers/catalog.js"></script>
            <% } %>
</body>
<!--googleon: snippet-->

</html>