<html ng-app="mainModule">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/catalog.css" rel="stylesheet">
</head>

<body style="top: 51px;">
    <%- include('partial/checkout_menu')%>
        <div ng-controller="catalogController" id="ctnCont">
            <div id="loading">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            <section class="catalog-store-info" ng-cloak>
                <div>
                    <div class="catalog-store-cover fadeIn"></div>
                </div>
                <div class="store-info-txt-box" ng-cloak>
                    <div class="store-name-txt">{{ storeInfo.display_name }}</div>
                    <div ng-show="storeInfo.open" class="store-hrs-txt">Open for Delivery {{ storeInfo.close_time }}</div>
                    <div ng-show="!storeInfo.open" class="store-oval store-open-hrs">Store Closed. Opens at {{ storeInfo.open_time }}</div>
                    <div class="store-oval store-DF">C$4.99 Delivery Fee</div>
                </div>
            </section>

            <div class="catalog-content" ng-cloak>
                <!--Mob-version Navigate-->
                <!-- Start -->
                <div ng-if="screenIsMob">
                    <button id="nav-btn-mob" class="nav-btn-mob box-center" ng-click="toggleNavLeft()" ng-hide="NavigateOpen()">
                        <ng-md-icon icon="dehaze"></ng-md-icon>
                    </button>
                    <md-sidenav md-component-id="nav-btn-mob" md-whiteframe="4" class="md-sidenav-mob">
                        <md-content class="md-content-mob">
                            <div class="nav-mob-header">
                                <div class="nav-mob-header-txt">NAVIGATE</div>
                                <button ng-click="close()" class="nav-mob-cls-btn" hide-gt-md>
                                    <ng-md-icon icon="chevron_left"></ng-md-icon>
                                </button>
                            </div>
                            <section class="nav-mob-content">
                                <div class="nav-sep-line-str">STORE</div>
                                <ul class="str-ul">
                                    <li class="nav-mob-str-ln str-ln-1" ng-style="('<%= loadedStore %>' == 'Linas Italian Market') && {'margin-left': '0px'} || {'margin-left': '10px'}" ng-click="hrefToStore('/catalog/linas-italian-market')">
                                        <ng-md-icon ng-show="('<%= loadedStore %>' == 'Linas Italian Market')" icon="shopping_cart"></ng-md-icon>
                                        <a ng-style="('<%= loadedStore %>' == 'Linas Italian Market') && {'margin-left': '10px', 'font-weight':'600', 'color':'rgba(255,255,255,1)'} || {'margin-left': '22px', 'color':'rgba(255,255,255,1)'}"
                                            target="_self">Lina's Italian Market</a>
                                    </li>
                                    <li class="nav-mob-str-ln str-ln-1" ng-style="('<%= loadedStore %>' == 'Liquor Station') && {'margin-left': '0px'} || {'margin-left': '10px'}" ng-click="hrefToStore('/catalog/liquor-station')">
                                        <ng-md-icon ng-show="('<%= loadedStore %>' == 'Liquor Station')" icon="shopping_cart"></ng-md-icon>
                                        <a ng-style="('<%= loadedStore %>' == 'Liquor Station') && {'margin-left': '10px', 'font-weight':'600', 'color':'rgba(255,255,255,1)'} || {'margin-left': '22px', 'color':'rgba(255,255,255,1)'}"
                                            target="_self">Liquor Station</a>
                                    </li>
                                    <li class="nav-mob-str-ln" ng-style="('<%= loadedStore %>' == 'Snack Vendor') && {'margin-left': '0px'} || {'margin-left': '10px'}" ng-click="hrefToStore('/catalog/snack-vendor')">
                                        <ng-md-icon ng-show="('<%= loadedStore %>' == 'Snack Vendor')" icon="shopping_cart"></ng-md-icon>
                                        <a ng-style="('<%= loadedStore %>' == 'Snack Vendor') && {'margin-left': '10px', 'font-weight':'900', 'color':'rgba(255,255,255,1)'} || {'margin-left': '22px', 'color':'rgba(255,255,255,1)'}"
                                         target="_self">Snack Vendor</a>
                                    </li>
                                </ul>
                                <div class="nav-sep-line-aisle">STORE AISLE</div>
                                <ul class="str-aisle-ul">
                                    <li class="nav-mob-aisle-ln" ng-repeat="category in <%= categories %> track by $index" ng-click="hrefToCat(category)">
                                        <ng-md-icon ng-show="('<%= selectedCategory %>' == category)" icon="label"></ng-md-icon>
                                        <a ng-style="('<%= selectedCategory %>' == category) && {'margin-left': '10px', 'font-weight':'600'} || {'margin-left': '30px'}"
                                           target="_self">{{ category }}</a>
                                    </li>
                                </ul>
                                <div class="nav-sep-line-cat">CATEGORY</div>
                                <md-radio-group id="1_rBtn" ng-model="SubcategoryName">
                                    <md-radio-button class="cat-body-cat" ng-repeat="variant in subcategories | orderBy" id="radio_{{ $index }}" ng-value="variant" ng-click="checkSubcategories(variant)">
                                        <span class="variant-txt">{{ variant }}</span>
                                    </md-radio-button>
                                </md-radio-group>
                            </section>
                        </md-content>
                    </md-sidenav>
                </div>
                <!--End-->
                <section id="category-box" class="cat-section-absolute cat-section">
                    <div class="cat-section-header section-header box-center" ng-click="filterCategories()">{{ '
                        <%= selectedCategory %> '}}</div>
                    <div style="max-height: calc(100vh - 200px); overflow-y: scroll;">
                        <md-radio-group ng-model="SubcategoryName">
                            <md-radio-button class="cat-body-cat" id="radio_{{$index}}" ng-repeat="variant in subcategories | orderBy" ng-value="variant" ng-click="checkSubcategories(variant)">
                                <span>{{ variant }}</span>
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                    <!--Category Box start-->
                    <button id="category-button" ng-click="filterCategories()" class="filter-cat-btn">
                        <ng-md-icon id="show_cat_icon" icon="flip"></ng-md-icon>
                    </button>
                    <div id="category_box" class="cat-body-cubcat">
                        <div class="cat-section-header section-header box-center" style="padding-right: 30px" ng-click="filterCategories()"><!-- <%= loadedStore %> -->Store Aisle</div>
                        <ul class="cat-list same-line" layout="column">
                            <li ng-repeat='category in <%= categories %> track by $index' ng-click="hrefToCat(category)" style="outline: none;">
                                <div class="category-list" ng-style="( '<%= selectedCategory %>' == category ) && {'background-color': 'rgba(0,189,149,0.7)'}">
                                    <span ng-style="( '<%= selectedCategory %>' == category ) && {'font-weight':'700', 'color': 'rgba(255,255,255,1)','font-size':'20px'}">{{ category }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--End-->
                </section>
                <section class="items-section" id="items-section">
                    <div ng-repeat="product in products">
                        <div ng-if="isInSelectedSubcategories(product.subcategory)">
                            <div class="item-box" id="{{ product.product_id }}">
                                <ul class="item-box-ul fadeIn">
                                    <button class="add-to-cart-btn" ng-click="addToCart(product, v_index)">
                                        <ng-md-icon icon="add_shopping_cart"></ng-md-icon>
                                    </button>
                                    <section class="pack-vol-section">
                                        <ul class="pac-vol-ul">
                                            <li class="pac-vol-li pac-vol-li-left volume-minus">
                                                <button class="pac-vol-btn box-center" ng-if="product.product_variants.all_volumes[product.volumeI-1]" ng-click="previousVolume(product)">
                                                    <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
                                                </button>
                                            </li>
                                            <li class="pac-vol-li pac-vol-li-mid">
                                                <span class="pac-vol-text">{{ product.product_variants.all_volumes[product.volumeI] }}</span>
                                            </li>
                                            <li class="pac-vol-li pac-vol-li-right volume-plus">
                                                <button class="pac-vol-btn box-center" ng-if="product.product_variants.all_volumes[product.volumeI+1]" ng-click="nextVolume(product)">
                                                    <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                                                </button>
                                            </li>
                                        </ul>
                                        <ul class="pac-vol-ul">
                                            <li class="pac-vol-li pac-vol-li-left pack-minus">
                                                <button class="pac-vol-btn box-center" ng-if="product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ-1]"
                                                    ng-click="previousPack(product)">
                                                    <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
                                                </button>
                                            </li>
                                            <li class="pac-vol-li pac-vol-li-mid">
                                                <span class="pac-vol-text">X{{ product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ]
                                                    }}
                                                </span>
                                            </li>
                                            <li class="pac-vol-li pac-vol-li-right pack-plus">
                                                <button class="pac-vol-btn box-center" ng-if="product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ+1]"
                                                    ng-click="nextPack(product)">
                                                    <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                                                </button>
                                            </li>
                                        </ul>
                                    </section>
                                    <li class="item-pic" ng-click="hrefPrdPage(product)">
                                        <img ng-src="{{ product.image }}">
                                    </li>
                                    <li class="catalog-text item-brand" ng-click="hrefPrdPage(product)">
                                        <div>
                                            <ng-md-icon icon="info" class="item-info-icon"></ng-md-icon>
                                            <span>{{ product.brand }} {{ product.name }}</span>
                                        </div>
                                    </li>
                                    <li class="item-pack-vlo-mob pack-vol-prc-mob-txt box-center">
                                        <span>{{ product.product_variants.all_volumes[product.volumeI] + " x" + product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ]
                                            }}</span>
                                    </li>
                                    <li class="catalog-text item-price pack-vol-prc-mob-txt">
                                        <span>{{ product.product_variants[product.product_variants.all_volumes[product.volumeI]][product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ]].price
                                            }}C$
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        </div>
        <% if (!production) { %>
            <script src="/resources/services/localStorage.js"></script>
            <script src="/resources/services/cartService.js"></script>
            <script src="/resources/controllers/catalog.js"></script>
            <% } %>
</body>

</html>