<html ng-app="mainModule">

<head ng-cloak>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/catalog.css" rel="stylesheet">
</head>

<body ng-cloak>
    <%- include('partial/checkout_menu')%>
        <div ng-controller="catalogController" id="ctnCont">
            <div layout="row" class="container col01">
                <!--Mob-version Navigate-->
                <!-- Start -->
                <div ng-if="screenIsMob">
                    <md-button id="navigateMobIcon" ng-click="toggleNavLeft()" ng-hide="NavigateOpen()" class="md-fab md-primary navigateMobIcon"
                        aria-label="navigateMob">
                        <ng-md-icon icon="apps" class="navigateMobIconA"></ng-md-icon>
                    </md-button>
                    <md-sidenav class="mdSideNavL1" md-component-id="navigateMobSN" md-whiteframe="4">
                        <md-content layout-padding class="mdSideNavL1A">
                            <div layout="row" class="navgtLn1">
                                <div class="navgtLn1A">NAVIGATE</div>
                                <md-button ng-click="close()" class="md-primary navgtLn1B" hide-gt-md aria-label="closeNavigate">
                                    <ng-md-icon icon="chevron_right" class="navgtClBtn"></ng-md-icon>
                                </md-button>
                            </div>
                            <div class="navgtLn3">
                                <ul class="navgtLn3A">
                                    <ul ng-repeat="category in <%= categories %> track by $index" class="navgtLn3AA">
                                        <li class="navgtLn3AAA" ng-style="('<%= selectedCategory %>' == category) && {'margin-left': '0px'} || {'margin-left': '70px'}">
                                            <ng-md-icon ng-show="('<%= selectedCategory %>' == category)" icon="shopping_cart" style="fill: rgba(42,81,145,0.9);" size="50"></ng-md-icon>
                                            <a ng-style="('<%= selectedCategory %>' == category) && {'margin-left': '20px', 'font-weight':'900', 'color':'rgba(255,255,255,1)'} || {'margin-left': '0px'}"
                                                href="/catalog/{{'<%= loadedStore %>' | kebabCase}}/{{category}}" target="_self" class="navgtLn3AAAB">{{category | capitalize}}</a>
                                        </li>
                                    </ul>
                                    <li class="navgtLn3AB"></li>
                                </ul>
                                <span>
                                    <md-radio-group ng-model="SubcategoryName">
                                        <md-radio-button aria-label="variantInSubcad" class="SubcategoryNameHDR" ng-repeat="variant in subcategories" ng-value="variant.subcategory_name"
                                            ng-click="checkSubcategories(variant.subcategory_name)">
                                            <span></span>
                                        </md-radio-button>
                                        <md-radio-button class="SubcategoryNameHDR" ng-value="selectAll" ng-click="emptySubcategories()">Select All</md-radio-button>
                                    </md-radio-group>
                                </span>
                            </div>
                        </md-content>
                    </md-sidenav>
                </div>
                <!--End-->
                <md-container class="col1">
                    <div class="sizeStage col1A">{{'<%= selectedCategory %>' | capitalize}}</div>
                    <span>
                        <md-radio-group id="1_rBtn" ng-model="SubcategoryName">
                            <md-radio-button aria-label="variantInSubcad" ng-repeat="variant in subcategories" ng-value="variant.subcategory_name" ng-click="checkSubcategories(variant.subcategory_name)"
                                class="SubcategoryName">
                                <span>{{variant.subcategory_name}}</span>
                            </md-radio-button>
                        </md-radio-group>
                    </span>
                    <!--Category Box start-->
                    <span class="col1D">
                        <md-button aria-label="filterCategories" id="toggleTest" ng-click="filterCategories()" class="fltCategoryBtn">
                            <ng-md-icon id="show_cat_icon" icon="loop"></ng-md-icon>
                        </md-button>
                    </span>
                    <div id="category_box" class="col1E">
                        <div layout="column">
                            <div class="sizeStage col1EAA"><%= loadedStore %></div>
                            <ul class="col1EAB" layout="column">
                                <li ng-repeat='category in <%= categories %> track by $index'>
                                    <a href="/catalog/{{'<%= loadedStore %>' | kebabCase }}/{{category}}" target="_self" class="category-list" ng-style="(('<%= selectedCategory %>' == category)) && {'background-color': 'rgba(0,189,149,0.7)'}">
                                        <span ng-style="(('<%= selectedCategory %>' == category)) && {'font-weight':'700', 'color': 'rgba(255,255,255,1)','font-size':'25px'}">{{ category }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End-->
                </md-container>
                <div layout-fill layout="row">
                    <div flex="80" layout-wrap class="col24" id="col24">
                        <div ng-repeat="product in products">
                            <div ng-if="isInSelectedSubcategories(product.subcategory)">
                                <div class="itemBoxL1" id="{{product.product_id}}">
                                    <ul class="itemBoxL2">
                                        <md-button aria-label="addToCart" class="addToCrtBtn" ng-click="addToCart(product, v_index)">
                                            <ng-md-icon icon="shopping_cart" class="add-shopping-cart"></ng-md-icon>
                                        </md-button>
                                        <div class="pvChangeBx"></div>
                                        <div class="pvChange1">
                                            <div class="pvChange1A">
                                                <ul>
                                                    <li class="pvChange1AAA">
                                                        <md-button class="pvChangeBtnA" ng-show="product.product_variants.all_volumes[product.volumeI-1]" ng-click="previousVolume(product)"
                                                            aria-label="leftVol">
                                                            <ng-md-icon icon="keyboard_arrow_left" class="pvChangeBtnAA"></ng-md-icon>
                                                        </md-button>
                                                    </li>
                                                    <span class="pvChange1AAB">
                                                        <span layout="row" class="pvChange1AABA">
                                                            <!-- <li class="nHighltdVol" style="width: 2ch; overflow: hidden; white-space: nowrap;">{{product.product_variants.all_volumes[product.volumeI-1]}}</li> -->
                                                            <li class="highltdVol">&#8198{{product.product_variants.all_volumes[product.volumeI]}}&#8198</li>
                                                            <!-- <li class="nHighltdVol" style="width: 2ch; overflow: hidden; white-space: nowrap;">{{product.product_variants.all_volumes[product.volumeI+1]}}</li> -->
                                                        </span>
                                                    </span>
                                                    <li class="pvChange1AAC">
                                                        <md-button class="pvChangeBtnA" ng-show="product.product_variants.all_volumes[product.volumeI+1]" ng-click="nextVolume(product)"
                                                            aria-label="rightVol">
                                                            <ng-md-icon icon="keyboard_arrow_right" class="pvChangeBtnAA"></ng-md-icon>
                                                        </md-button>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li class="pvChange1ABA">
                                                        <md-button class="pvChangeBtnA" ng-show="product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ-1]"
                                                            ng-click="previousPack(product)" aria-label="leftPack">
                                                            <ng-md-icon icon="keyboard_arrow_left" class="pvChangeBtnAA"></ng-md-icon>
                                                        </md-button>
                                                    </li>
                                                    <span class="pvChange1ABB">
                                                        <span layout="row" class="pvChange1ABBA">
                                                            <!-- <li class="nHighltdPack">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ-1]}}</li> -->
                                                            <li class="highltdPack">&#8198X{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ]}}&#8198</li>
                                                            <!-- <li class="nHighltdPack">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ+1]}}</li> -->
                                                        </span>
                                                    </span>
                                                    <li class="pvChange1ABC">
                                                        <md-button class="pvChangeBtnA" ng-show="product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ+1]"
                                                            ng-click="nextPack(product)" aria-label="rightPack">
                                                            <ng-md-icon icon="keyboard_arrow_right" class="pvChangeBtnAA"></ng-md-icon>
                                                        </md-button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--Volume/Pack change Small Screens - Start-->
                                        <!-- Start -->
                                        <div class="volPackMob" ng-if="screenIsMob">
                                            <div class="volPackMobA" ng-show="product.product_variants.all_volumes[product.volumeI-1]">
                                                <md-button ng-click="previousVolume(product)" aria-label="nextVol">
                                                    <ng-md-icon icon="keyboard_arrow_up" class="volPackMobAAA"></ng-md-icon>
                                                </md-button>
                                            </div>
                                            <div>
                                                <ul class="volPackMobBA">
                                                    <li class="nHighltdVol volPackMobBAA">{{product.product_variants.all_volumes[product.volumeI-1]}}</li>
                                                    <li class="highltdVol volPackMobBAB">&#8198{{product.product_variants.all_volumes[product.volumeI]}}&#8198</li>
                                                    <li class="nHighltdVol volPackMobBAC">{{product.product_variants.all_volumes[product.volumeI+1]}}</li>
                                                </ul>
                                            </div>
                                            <div class="volPackMobC" ng-show="product.product_variants.all_volumes[product.volumeI+1]">
                                                <md-button ng-click="nextVolume(product)" aria-label="preciousVol">
                                                    <ng-md-icon icon="keyboard_arrow_down" class="volPackMobAAA"></ng-md-icon>
                                                </md-button>
                                            </div>

                                            <div class="volPackMobD">
                                                <md-button ng-click="previousPack(product)" aria-label="nextPack" ng-show="product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ-1]">
                                                    <ng-md-icon icon="keyboard_arrow_up" class="volPackMobAAA"></ng-md-icon>
                                                </md-button>
                                            </div>
                                            <div>
                                                <ul class="volPackMobBA">
                                                    <li class="nHighltdPack volPackMobEAA">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ-1]}}</li>
                                                    <li class="highltdPack volPackMobEAB">&#8198X{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ]}}&#8198</li>
                                                    <li class="nHighltdPack volPackMobEAC">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ+1]}}</li>
                                                </ul>
                                            </div>
                                            <div class="volPackMobF" ng-show="product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ+1]">
                                                <md-button ng-click="nextPack(product)" aria-label="nextPack">
                                                    <ng-md-icon icon="keyboard_arrow_down" class="volPackMobAAA"></ng-md-icon>
                                                </md-button>
                                            </div>
                                        </div>
                                        <!-- End -->
                                        <li class="container itmPic">
                                            <img ng-src={{product.image}}>
                                        </li>

                                        <img  ng-if="!product.store_open" class="catalog-store-closed" ng-src="{{'/resources/images/non-catalog-image/homit_closed.png'}}">
                                        <li class="brand hmtTxt">{{product.brand}} {{product.name}}</li>
                                        <li class="price">{{product.product_variants[product.product_variants.all_volumes[product.volumeI]][product.product_variants[product.product_variants.all_volumes[product.volumeI]].all_packagings[product.packJ]].price}}C$</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (!production) { %>
            <script src="/resources/services/localStorage.js"></script>
            <script src="/resources/services/cartService.js"></script>
            <script src="/resources/controllers/catalog.js"></script>
        <% } %>
</body>

</html>