<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/main.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places"></script>
</head>

<body class="ng-cloak">
    <div ng-controller="mainController">
        <div layout="row" class="mainpage-header">
            <div class="logoTg" flex="50">
                <a href="/main" target="_self">
                    <img ng-src="{{'/resources/images/Homit_Logo_TM.jpeg'}}" class="logoTgAA" />
                </a>
            </div>
            <div flex="50" class="signTg">
                <md-button ng-if="!<%=isSignedIn%>" aria-label="header-sign" data-toggle="modal" data-target="#loginModal">
                    <ng-md-icon icon="person_outline" class="signTgAA"></ng-md-icon>
                </md-button>
                <md-button ng-if="<%=isSignedIn%>" aria-label="userDropDown" ng-class="{'button-press-feel': userDropDown}" ng-click="showHideUserDropdown()">
                    <ng-md-icon icon="person" class="signTgAB"></ng-md-icon>
                </md-button>
                <div ng-show="userDropDown">
                    <ul layout="column" class="infoDrDwnA">
                        <li class="infoDrDwnAA">
                            <a href="/myaccount" target="_self" class="infoDrDwnAAA">
                                <ng-md-icon icon="settings" size="20"></ng-md-icon>&#8198
                                <%= username %>
                            </a>
                        </li>
                        <li class="infoDrDwnAB">
                            <a href="#" target="_self" class="infoDrDwnAAA" ng-click="logout()">
                                <ng-md-icon icon="logout" size="20"></ng-md-icon>&#8198Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Getting started page -->
        <div id="gettingStarted" class="full-screen flex-box getting-started">
            <md-button class="md-raised button-big brand-button" ng-click="scrollTo('address')">
                Let's Homit
            </md-button>`
        </div>
        <div id="address" class="full-screen flex-box srchAddrs">
            <h2>Delivery Address</h2>
            <h3>Please enter delivery address to ensure we provide delivery to your location</h3>
            <span class="srchAddrsC">
                <span class="srchAddrsCA">
                    <i class="srchAddrsCAA">
                        <ng-md-icon icon="place" class="srchAddrsCAAA"></ng-md-icon>
                    </i>
                    <input id="addressAutocomplete" ng-model="searchedAddress" type="text" class="srchAddrsCAB" placeholder="Address">
                    <md-button ng-if="searchedAddress" class="srchAddrsCAC" ng-click="clearAddressSearch()">
                        <ng-md-icon icon="clear" class="srchAddrsCACA"></ng-md-icon>
                    </md-button>
                </span>
            </span>
        </div>
        <div id="coverage" class="full-screen flex-box areaMp">
            <h2>Coverage Map</h2>
            <div id="map" class="areaMpB"></div>
            <h3>{{addressMessage}}</h3>
        </div>
        <div id="homitHub" class="full-screen hmtHub">
            <div class="hmtHubA hmtHubTxt">Homit Hub</div>
            <div layout="row" class="hmtHubB">
                <div flex="30" ng-click="hrefTo('/catalog/snackvendor')" class="hmtHubBA">
                    <ul layout="column" class="hmtHubBAA">
                        <li class="hmtHubBAAA">
                            <ng-md-icon icon="panorama_vertical" class="hmtHubBAAAA"></ng-md-icon>
                        </li>
                        <li class="hmtHubABAB hmtHubTxt">Snack Vendor</li>
                    </ul>
                </div>
                <div flex="30" ng-click="hrefTo('/catalog/liquor')" class="hmtHubBA">
                    <ul layout="column" class="hmtHubBAA">
                        <li class="hmtHubBAAA">
                            <ng-md-icon icon="local_bar" class="hmtHubBAAAA"></ng-md-icon>
                        </li>
                        <li class="hmtHubABAB hmtHubTxt">Liquor Station</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/services/mapServices.js"></script>
    <script src="/resources/controllers/main.js"></script>
</body>

<footer>
        <%- include('partial/footer')%>
</footer>
</html>