<html ng-app="mainModule">

<head ng-cloak>
    <meta property="og:url" content="https://homit.ca/main" />
    <meta property="og:description" content="Ever craved late night munchies, or forgot to stock your bar before party, or simply didn't have time to grab necessities... Let
            us 'Home It' for you and liberate your precious time. Place order online and watch us appear at your door, shortly after."
    />
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/myaccount.css" rel="stylesheet">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbxP17w7jZr5QNnLQUmCJ8X3h1kl4EtFs&libraries=places,geometry"></script>
</head>
<!--googleoff: snippet-->
<body class="flex-row flex-space-between flex-100 container ng-cloak my-account-controller" ng-controller="myaccountController" ng-cloak>
    <!-- Sidebar -->
    <aside class="sidebar-div hide-mobile">
        <div class="sidebar-default">
            <div class="sidebar-button" ng-click="openCloseSidebar();">
                <span>
                    <i style="transition: transform 0.6s ease;" class="material-icons icon" ng-class="{'icon-rot-y': sidebarOpen}">chevron_right</i>
                </span>
            </div>
            <div class="vertical-lists">
                <div class="li" ng-class="{'selected': section == 0}" ng-click="selectSection(0)">
                    <span>
                        <i class="material-icons icon">info</i>
                    </span>
                    <span class="label" ng-if="sidebarOpen">Overview</span>
                </div>
                <div class="li" ng-class="{'selected': section == 1}" ng-click="selectSection(1)">
                    <span>
                        <i class="material-icons icon">account_circle</i>
                    </span>
                    <span class="label" ng-if="sidebarOpen">Profile</span>
                </div>
                <div class="li" ng-class="{'selected': section == 2}" ng-click="selectSection(2)">
                    <span>
                        <i class="material-icons icon">place</i>
                    </span>
                    <span class="label" ng-if="sidebarOpen">Delivery Address</span>
                </div>
                <div class="li" ng-class="{'selected': section == 3}" ng-click="selectSection(3)">
                    <span>
                        <i class="material-icons icon">payment</i>
                    </span>
                    <span class="label" ng-if="sidebarOpen">Payment Methods</span>
                </div>
                <div class="li" ng-class="{'selected': section == 4}" ng-click="selectSection(4)">
                    <span>
                        <i class="material-icons icon">lock</i>
                    </span>
                    <span class="label" ng-if="sidebarOpen">Security Settings</span>
                </div>
                <span class="divider"></span>
                <div class="li" ng-class="{'selected': section == 5}" ng-click="selectSection(5)">
                    <span>
                        <i class="material-icons icon">shopping_basket</i>
                    </span>
                    <span class="label" ng-if="sidebarOpen">Orders</span>
                </div>
                <div class="li" ng-class="{'selected': section == 6}" ng-click="selectSection(6)">
                    <span>
                        <i class="material-icons icon">loyalty</i>
                    </span>
                    <span class="label" ng-if="sidebarOpen">Coupons</span>
                </div>
            </div>
        </div>
    </aside>
    <!-- Main Content -->
    <main>
        <input id="stripeToken" value="<%= stripeToken %>" hidden>
        <!-- Overview -->
        <section ng-show="section == 0" ng-class="{'fadeIn': section == 0}">
            <span class="divider" style="width:100%"></span>
            <div class="overview flexflex-column flex-100 content-div">
                <div ng-if="!infoLoaded">Loading...</div>
                <div ng-show="infoLoaded">
                    <div class="flex-centered margin-btm-25">
                        <h2>Profile
                            <i class="material-icons edit-icon" ng-click="selectSection(1)">create</i>
                        </h2>
                        <p>{{fname + ' ' + lname}}</p>
                        <div class="email-overview-div">
                            <p>{{email}}</p>
                            <button class="resend-email-btn overview-btn" ng-show="(<%= emailVerified %>==false)" ng-click="resendVerificationEmail()">Resend Verification Email</button>
                        </div>
                        <p data-phone>{{phone}}</p>
                        <p>{{dob}}</p>
                    </div>
                    <div class="flex-centered margin-btm-25">
                        <h2>Delivery Address
                            <i class="material-icons edit-icon" ng-click="selectSection(2)">create</i>
                        </h2>
                        <p ng-if="displayAddress">{{displayAddress}}</p>
                        <p ng-if="!displayAddress">No default address was entered</p>
                    </div>
                    <div class="flex-centered margin-btm-25">
                        <h2>Payment Methods
                            <i class="material-icons edit-icon" ng-click="selectSection(3)">create</i>
                        </h2>
                        <div ng-if="card">
                            <label class="card-type">{{ card.type }}</label>
                            <label class="card-numbers">{{ '**** **** **** ' + card.last4 }}</label>
                            <label class="card-exp">{{'(' + card.exp + ')'}}</label>
                        </div>
                        <div ng-if="!card">
                            <label>No default payment method</label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Profile -->
        <section ng-show="section == 1" ng-class="{'fadeIn': section == 1}">
            <span class="divider" style="width:100%"></span>
            <div ng-if="!infoLoaded">Loading...</div>
            <div class="flex-column flex-100 content-div">
                <span class="flex-centered">
                    <form name="profile" ng-submit="updateProfile(profile.$valid)" class="form-profile">
                        <md-input-container class="md-block container-margin font-20" flex="100">
                            <label></label>
                            <input name="fname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-model="fname" placeholder="First Name" type="text" required/>
                            <div ng-messages="profile.fname.$error">
                                <div ng-message="pattern">Letters only</div>
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block container-margin font-20" flex="100">
                            <label></label>
                            <input name="lname" maxlength="30" ng-pattern="/^[a-zA-Z]*$/" ng-model="lname" placeholder="Last Name" type="text" required/>
                            <div ng-messages="profile.lname.$error">
                                <div ng-message="pattern">Letters only</div>
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block container-margin font-20 email-container" flex="100">
                            <label></label>
                            <div class="email-check-div" ng-class="email_check_message" ng-click="subEmailToSuggested(suggestion, true)">Did you mean <span>{{suggestion}}</span>?</div>
                            <div class="flex-row-reverse">
                                <input id="myaccount-email-input" name="email" ng-pattern="/^.+@.+\..+$/" ng-model="email" placeholder="Email" type="email" required/>
                                <button class="resend-email-btn" ng-show="((<%= emailVerified %>==false))" ng-click="resendVerificationEmail()">Resend Verification Email</button>
                            </div>
                            <div ng-messages="profile.email.$error">
                                <div ng-message="pattern">Email format only</div>
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block container-margin font-20" flex="100">
                            <label></label>
                            <input id="date_of_birth" name="dob" ng-pattern="dobPattern" ng-model="dob" ng-blur="checkDOB()" ng-required="requireDOB" placeholder="Date of Birth MM-DD-YYYY"/>
                            <div ng-messages="profile.dob.$error" ng-messages-multiple>
                                <div ng-message="pattern">Date format only</div>
                                <div ng-message="required">Required</div>
                            </div>
                            <div ng-if="userInfo.dob_not_valid" class="error-message">Not legal age</div>
                        </md-input-container>
                        <md-input-container class="md-block container-margin font-20" flex="100">
                            <label></label>
                            <input id="phone-number" name="phone" minlength="5" maxlength="14" ng-pattern="/^[0-9() -]+$/" ng-model="phone" ng-required="requirePhone" placeholder="Phone"/>
                            <div ng-messages="checkoutInput.phone.$error">
                                <div ng-message="pattern">Numbers only</div>
                                <div ng-message="minlength">Required</div>
                            </div>
                        </md-input-container>
                        <button class="configButton updateButton" ng-show="modified" flex="100" type="submit">
                            <md-progress-circular ng-class="loading_spin" md-diameter="16"></md-progress-circular>
                            {{ update_btn_txt }}
                        </button>
                    </form>
                </span>
            </div>
        </section>
        <!-- Delivery Address -->
        <section ng-show="section == 2" ng-class="{'fadeIn': section == 2}">
            <div ng-if="!infoLoaded">Loading...</div>
            <div class="flex-column flex-100 content-div">
                <span class="flex-centered">
                    <md-input-container class="address-input-container md-block container-margin" flex="100">
                        <label style="display: none"></label>
                        <address-autocomplete input-class="address-input" icon-class="address-icon" button-class="address-input-btn" autocomplete="autocomplete"
                            on-address-selected="gotAddressResults" autocomplete-bounds="bounds"></address-autocomplete>
                        <div ng-messages="checkoutInput.address.$error">
                            <div ng-message="required" class="inptErMsg">Required</div>
                        </div>
                        <div ng-if="withinCoverage == false" class="outPlgn_txt">Sorry, we do not deliver to your location at the moment</div>
                    </md-input-container>
                    <button class="configButton updateButton" ng-show="autocomplete.modified" ng-click="updateDeliveryAddress()">
                        <md-progress-circular ng-class="loading_spin" md-diameter="16"></md-progress-circular>
                        {{ update_btn_txt }}
                    </button>
                </span>
            </div>
        </section>
        <!-- Payment Methods -->
        <section ng-show="section == 3" ng-class="{'fadeIn': section == 3}">
            <span class="divider" style="width:100%"></span>
            <div ng-if="!infoLoaded">Loading...</div>
            <div class="flex-column flex-100 content-div">
                <span class="flex-centered">
                    <!-- If edit card -->
                    <form class="form-card" name="payment_method" ng-submit="updatePaymentMethod(payment_method.$valid)" ng-show="editEnabled">
                        <div style="display: flex; flex-direction: row;">
                            <md-input-container class="cad-name md-block container-margin" flex="50">
                                <label></label>
                                <input name="fname" maxlength="30" ng-pattern="/^[a-zA-Z ]*$/" ng-disabled="!editEnabled" ng-model="card_name" placeholder="Full Name" type="text" ng-required="" />
                                <div ng-messages="profile.fname.$error">
                                    <div ng-message="pattern">Letters only</div>
                                    <div ng-message="required">Required</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block container-margin" flex="100">
                            <!-- <label>Card</label> -->
                            <div id="card"></div>
                        </md-input-container>
                        <button class="configButton updateButton margin-top-40" type="submit" ng-show="editEnabled">
                            <md-progress-circular ng-class="loading_spin" md-diameter="16"></md-progress-circular>
                            {{ update_btn_txt }}
                        </button>
                    </form>
                    <button class="configButton cancelButton" ng-show="editEnabled" ng-click="resetPaymentMethodsSection();">Cancel</button>
                    <!-- Only show, no edit -->
                    <div ng-show="!editEnabled">
                        <!-- If no card information exists -->
                        <div ng-show="!card && infoLoaded">
                            <i class="material-icons plus-icon" ng-click="editEnabled = true;">add</i>
                            Add payment information
                        </div>
                        <!-- If card information exists -->
                        <div ng-show="card">
                            <div ng-show="card">
                                <label class="card-type">{{ card.type }}</label>
                                <label class="card-numbers">{{ '**** **** **** ' + card.last4 }}</label>
                                <label class="card-exp">{{'(' + card.exp + ')'}}</label>
                                <i class="material-icons clear-icon" ng-click="removePaymentMethod();">clear</i>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </section>
        <!-- Security Settings -->
        <section ng-show="section == 4" ng-class="{'fadeIn': section == 4}">
            <span class="divider" style="width:100%"></span>
            <div ng-if="!infoLoaded">Loading...</div>
            <button class="configButton edtitButton" ng-show="!editEnabled" ng-click="editEnabled = true">Edit</button>
            <div class="flex-column flex-100 content-div">
                <span class="flex-centered">
                    <form class="form-password" name="security_set" ng-submit="updateSecuritySettings(security_set.$valid)">
                        <md-input-container class="md-block container-margin" flex="100">
                            <label></label>
                            <input id="current_pass" name="current_pass" ng-model="current_pass" ng-disabled="!editEnabled" placeholder="Old Password" type="password" />
                            <div ng-messages="security_set.current_pass.$error">
                                <div ng-message="minlength">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block container-margin" flex="100">
                            <label></label>
                            <input id="new_pass" name="new_pass" ng-pattern="passPattern" ng-disabled="!editEnabled" ng-model="new_pass" ng-required="old_pass" placeholder="New Password" type="password" maxlength="30" minlength="8" />
                            <div ng-messages="security_set.new_pass.$error">
                                <div ng-message="pattern">Invalid characters</div>
                                <div ng-message="maxlength">30 characters maximum</div>
                                <div ng-message="minlength">8 characters minimum</div>
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block container-margin" flex="100">
                            <label></label>
                            <input id="confirm_pass" name="confirm_pass" ng-disabled="!editEnabled" ng-model="confirm_pass" ng-change="validateConfirmPass()" placeholder="Confirm Password" ng-required="old_pass" type="password" />
                            <div ng-messages="security_set.confirm_pass.$error">
                                <div ng-message="required">Required</div>
                                <div ng-message="confirm_pass">Passwords don't match</div>
                            </div>
                        </md-input-container>
                        <button class="configButton updateButton margin-top-40" type="submit" ng-show="editEnabled">
                            <md-progress-circular ng-class="loading_spin" md-diameter="16"></md-progress-circular>
                            {{ update_btn_txt }}
                        </button>
                    </form>
                    <button class="configButton cancelButton" ng-show="editEnabled" ng-click="resetSecuritySettingsSection();">Cancel</button>
                </span>
            </div>
        </section>
        <!-- Orders -->
        <section ng-show="section == 5" ng-class="{'fadeIn': section == 5}">
            <span class="divider"></span>
            <div class="flex-column flex-100 content-div">
                <div ng-show="orders" ng-repeat="order in orders">
                    <div class="order" ng-click="order.showDetails = !order.showDetails">
                        <span class="header">
                            <h3 class="flex-center">
                                <span class="view-link">View</span> Order #{{order.id}}</h3>
                            <span class="flex-center">|</span>
                            <h3 class="flex-center" ng-bind="order.date_delivered"></h3>
                        </span>
                        <p class="p-order">
                            <span>Address:&nbsp</span> {{ order.delivery_address }}</p>
                        <p class="p-order">
                            <span>Store:&nbsp</span> {{ order.store }}</p>
                        <p class="p-order">
                            <span>Payment:&nbsp</span> **** **** **** {{ order.card_digits }}</p>
                        <div class="order-content">
                            <span class="order-items" ng-show="order.showDetails" ng-repeat="item in order.items">
                                <div class="item">
                                    <img width="100" height="100" ng-src="{{'/resources/images/products/' + item.category.toLowerCase() + '/' + item.image}}">
                                    <span class="details">
                                        {{ item.volume }} {{ item.brand }}
                                    </span>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-show="!orders || orders.length == 0" class="no-orders box-center">
                    <ng-md-icon icon="sentiment_neutral" size="130"></ng-md-icon>
                    <h4>It's quite sad to see the purchase history empty. Let's get rolling!</h4>
                    <a href="/main" target="_self" class="box-center">
                        <ng-md-icon icon="arrow_forward" size="17"></ng-md-icon>Store Hub</a>
                </div>
            </div>
        </section>
        <!-- Coupons (Private only) -->
        <section ng-show="section == 6"  class="coupon-section" ng-class="{'fadeIn': section == 6}">
            <span class="divider"></span>
            <div class="flex-100 flex-row-wrap content-div">
                <div ng-show="coupons" class="coupon-content-div" ng-repeat="coupon in coupons">
                    <div class="body-div">
                        <h3>{{ coupon.couponHeader }}</h3>
                        <div class="coupon-number">
                            <div class="sign">{{ coupon.sign }}</div>
                            <div class="amount">{{ coupon.amount }}</div>
                            <div class="off">OFF</div>
                        </div>
                        <p class="coupon-message">{{coupon.couponBody}}</p>
                        <p class="expiry-date">valid until: {{ coupon.expiryDate }}</p>
                    </div>
                    <button class="footer-button" ng-click="updateCoupon(coupon.couponCode, $index)">
                        <p ng-show="!coupon.applied" class="apply-text">apply</p>
                        <p ng-show="coupon.applied" class="applied-text">remove</p>
                        <ng-md-icon icon="content_cut" size="20"></ng-md-icon>
                    </button>
                </div>
                <div ng-show="coupons.length == 0" class="no-coupon flex-column" style="flex-direction: column;">
                    <ng-md-icon icon="loyalty" size="130"></ng-md-icon>
                    <h4>No assigned coupons at the moment.</h4>
                </div>
            </div>
        </section>
    </main>
<!--googleon: snippet-->
    <% if (!production) { %>
        <script src="/resources/services/sessionStorage.js"></script>
        <script src="/resources/services/localStorage.js"></script>
        <script src="/resources/services/date.js"></script>
        <script src="/resources/services/mapServices.js"></script>
        <script src="/resources/directives/addressAutocomplete.js"></script>
        <script src="/resources/controllers/myaccount.js"></script>
        <% } %>
</body>

</html>