<html ng-app="mainModule">

<head>
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/product.css" rel="stylesheet">
            <meta name="description" content="<%= meta_description %>" />
</head>

<body ng-cloak>

    <%- include('partial/checkout_menu')%>
        <div class="controller" ng-controller="productController" layout="column">
            <div class="product-content" itemscope itemtype="http://schema.org/Product">
                <input id="recommendedProducts" class="none" value="<%= recommended_products %>">
                <input id="product" class="none" value="<%= product %>">
                <input id="default_container" class="none" value="<%= default_container %>">
                <h2 class="product-name-h2-mob">
                    <span itemprop="brand">
                        <%= product_brand %>
                    </span>
                    <span itemprop="name">
                        <%= product_name %>
                    </span> - Deliver Now</h2>
                <div layout="column">
                    <section>
                        <!--googleoff: snippet-->
                        <div class="col-md-6 product-img product-image" layout="column">
                            <img class="product-image-selected" ng-src="{{ container_info.image }}">
                            <div class="store-colosed-image" ng-if="!product.store_open">
                                <img ng-src="{{'/resources/images/non-catalog-image/homit_closed.png'}}">
                            </div>
                            <div class="product-image-line"></div>
                            <div layout="row">
                                <div ng-repeat="(key, value) in product.products" class="product-img-list">
                                    <img class="product-image-to-select" ng-style="((key == selected_container)) && {'border':'1px solid rgba(0,0,0,0.1)', 'border-radius' : '4px'}" ng-click="updateContainer(key)"
                                        ng-src="{{ value.image }}">
                                </div>
                            </div>
                        </div>
                        <!--googleon: snippet-->
                        <div class="col-md-6 product-property">
                            <h2 class="product-name-h2-web">
                                <span itemprop="brand">
                                    <%= product_brand %>
                                </span>
                                <span itemprop="name">
                                    <%= product_name %>
                                </span> - Deliver Now</h2>
                            <% if (product_details.ingredients) {%>
                                <section class="ingredients-sec">
                                    <div class="ingredients">
                                        <h3 class="sub-header">Ingredients:</h3>
                                        <!-- <ul> -->
                                        <span itemprop="additionalProperty">
                                            <%- product_details.ingredients %>
                                        </span>
                                        <!-- </ul> -->
                                    </div>
                                </section>
                                <% } %>
                                    <section layout="column" class="section-box">
                                        <!--googleoff: snippet-->
                                        <div layout="row" class="size-section">
                                            <div class="size-buttons" layout="row">
                                                <button class="size-button-left" ng-click="volumeLeft(product.products[selected_container])">
                                                    <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
                                                </button>
                                                <button class="size-button-right" ng-click="volumeRight(product.products[selected_container])">
                                                    <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                                                </button>
                                            </div>
                                            <ul layout="row">
                                                <li class="size-box-left text-verflow">
                                                    {{ product.products[selected_container].product_variants.all_volumes[product.products[selected_container].selectedVolume
                                                    - 1] }}
                                                </li>
                                                <li class="size-box-middle">
                                                    {{ product.products[selected_container].product_variants.all_volumes[product.products[selected_container].selectedVolume]
                                                    }}
                                                </li>
                                                <li class="size-box-right text-verflow">
                                                    {{ product.products[selected_container].product_variants.all_volumes[product.products[selected_container].selectedVolume
                                                    + 1] }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="size-section" layout="row">
                                            <div class="size-buttons" layout="row">
                                                <button class="size-button-left" ng-click="packLeft(product.products[selected_container])">
                                                    <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
                                                </button>
                                                <button class="size-button-right" ng-click="packRight(product.products[selected_container])">
                                                    <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                                                </button>
                                            </div>
                                            <ul layout="row">
                                                <li class="size-box-left text-verflow">
                                                    {{ product.products[selected_container].product_variants[product.products[selected_container].product_variants.all_volumes[product.products[selected_container].selectedVolume]].all_packagings[product.products[selected_container].selectedPack
                                                    -1 ] + ' '}}
                                                </li>
                                                <li class="size-box-middle">
                                                    {{ product.products[selected_container].product_variants[product.products[selected_container].product_variants.all_volumes[product.products[selected_container].selectedVolume]].all_packagings[product.products[selected_container].selectedPack]
                                                    }}
                                                </li>
                                                <li class="size-box-right text-verflow">
                                                    {{ ' ' + product.products[selected_container].product_variants[product.products[selected_container].product_variants.all_volumes[product.products[selected_container].selectedVolume]].all_packagings[product.products[selected_container].selectedPack
                                                    + 1] }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="selected-product-price">C${{' ' + product.products[selected_container].product_variants[product.products[selected_container].product_variants.all_volumes[product.products[selected_container].selectedVolume]][product.products[selected_container].product_variants[product.products[selected_container].product_variants.all_volumes[product.products[selected_container].selectedVolume]].all_packagings[product.products[selected_container].selectedPack]].price
                                            }}
                                        </div>
                                        <button class="add-to-cart" ng-click="addToCart(product)">Add To Cart</button>
                                    </section>
                                    <div layout="column">
                                        <h3 class="product-details-header sub-header">Product Details</h3>
                                        <ul class="bullet-description">
                                            <li>
                                                <span class="bold">Product:</span> {{ product.products[selected_container].product_variants[product.products[selected_container].product_variants.all_volumes[product.products[selected_container].selectedVolume]].all_packagings[product.products[selected_container].selectedPack]
                                                }} x {{ product.products[selected_container].product_variants.all_volumes[product.products[selected_container].selectedVolume]
                                                }}
                                                <span class="product-details-container">{{ selected_container}}</span>
                                            </li>
                                            <!--googleon: snippet-->
                                            <% if (store_web) {%>
                                                <li>
                                                    <span class="bold">Sold By:</span>
                                                    <a href="<%= store_web %>" target="_blank" itemprop="description">
                                                        <%= store_type_display_name %>
                                                    </a>
                                                </li>
                                                <% } %>
                                                    <li>
                                                        <span class="bold">Location:</span>
                                                        <span itemprop="description">Calgary, AB</span>
                                                    </li>
                                                    <% if (product_type) {%>
                                                        <li>
                                                            <span class="bold">Type:</span>
                                                            <span itemprop="additionalType">
                                                                <%= product_type %>
                                                            </span>
                                                        </li>
                                                        <% } %>
                                                            <% if (product_details.country_of_origin) {%>
                                                                <li>
                                                                    <span class="bold">Country of Origin:</span>
                                                                    <span itemprop="description">
                                                                        <%= product_details.country_of_origin %>
                                                                    </span>
                                                                </li>
                                                                <% } %>
                                                                    <%if (product_details.producer != "NULL" && product_details.producer) { %>
                                                                        <li>
                                                                            <span class="bold">Made by:</span>
                                                                            <span itemprop="manufacturer">
                                                                                <%= product_details.producer %>
                                                                            </span>
                                                                        </li>
                                                                        <% } %>
                                                                            <%if (product_details.alcohol_content) { %>
                                                                                <li>
                                                                                    <span class="bold">Alcohol/Vol:</span>
                                                                                    <span itemprop="description">
                                                                                        <%= product_details.alcohol_content %>
                                                                                    </span>
                                                                                </li>
                                                                                <% } %>
                                                                                    <li>
                                                                                        <a href="<%= see_more_url %>" target="_self">See More Products</a>
                                                                                    </li>
                                        </ul>
                                    </div>
                        </div>
                    </section>
                </div>
                <% if (product_details.preview) {%>
                    <section class="preview-sec">
                        <div class="description">
                            <h3 class="sub-header">Product Description:</h3>
                            <p itemprop="description">
                                <%- product_details.preview %>
                            </p>
                        </div>
                    </section>
                    <% } %>
                        <% if (product_details.serving_suggestions) {%>
                            <section class="preview-sec">
                                <div class="description">
                                    <h3 class="sub-header">Serving Sugestions:</h3>
                                    <p itemprop="description">
                                        <%- product_details.serving_suggestions %>
                                    </p>
                                </div>
                            </section>
                            <% } %>
                                <div class="recomended-products">
                                    <!--googleoff: snippet-->
                                    <section layout="row" class="recomended-products-header">
                                        <div class="recomended-products-header-line"></div>
                                        <div class="recomended-products-header-text">People also Homit</div>
                                    </section>
                                    <section class="recomended-item">
                                        <div class="recomended-item-div">
                                            <div ng-repeat="item in recommended_products">
                                                <ul ng-click="hrefTo(item.url)">
                                                    <li class="also-image-li">
                                                        <img ng-src="{{item.image}}">
                                                    </li>
                                                    <li class="recomended-item-text">{{ item.packaging + " X " + item.size }}</li>
                                                    <li class="recomended-item-text">C${{ item.price }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </section>
                                    <section layout="row" class="recomended-products-footer">
                                        <div class="recomended-products-header-line"></div>
                                    </section>
                                    <!--googleoff: snippet-->
                                </div>
            </div>

        </div>

        <% if (!production) { %>
            <script src="/resources/services/localStorage.js"></script>
            <script src="/resources/services/cartService.js"></script>
            <script src="/resources/controllers/product.js"></script>
            <% } %>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>