<html ng-app="mainModule">

<head>
    <meta name="description" content="<%= meta_description %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <%- include('partial/imports')%>
        <%- include('partial/header', {title: title}); %>
            <link href="/resources/css/product.css" rel="stylesheet">
            
</head>

<body ng-cloak>
<!--googleoff: snippet-->
    <%- include('partial/checkout_menu')%>
        <div class="controller" ng-controller="productController" layout="column">
            <div id="loading">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
<!--googleon: snippet-->
            <div class="product-content" itemscope itemtype="http://schema.org/Product">
                <input id="recommendedProducts" class="none" value="<%= recommended_products %>">
                <input id="product" class="none" value="<%= product %>">
                <input id="product-images" class="none" value="<%= product_images %>">
                <h2 class="product-name-h2-mob">
                    <span itemprop="name">
                        <%= product_brand %>
                    </span>
                    <span itemprop="brand">
                        <%= product_name %>
                    </span> - Deliver Now</h2>
                <div layout="column">
                    <section>
<!--googleoff: snippet-->
                        <div class="col-md-6 product-img box-center" layout="column">
                            <section class="web-location-sec">
                                <a class="web-location-a" href="/main" ng-cklick="navHubClicked()" target="_self">Store Hub</a>
                                <span class="loc-errow"> > </span>
                                <a class="web-location-a" href="/hub/{{ product.store_type_name }}" ng-cklick="navStoreClicked(product.store_type_name)" target="_self">{{ product.store_type_display_name }}</a>
                                <span class="loc-errow"> > </span>
                                <a class="web-location-a loc-category" href="/hub/{{ product.store_type_name }}/{{ product.category }}" ng-click="navCatClicked(product.category)" target="_self">{{ product.category }}</a>
                                <span class="loc-errow"> > </span>
                                <a class="web-location-a" ng-click="hrefToSubcat(product)" href="" target="_self">{{ product.subcategory }}</a>
                            </section>
                            <div class="selected-img-frame box-center">
                                <img class="product-image-selected" ng-src="{{ selectedImage }}">
                            </div>
                            <div class="product-image-line"></div>
                            <div layout="row">
                                <div ng-repeat="image in productImages" class="product-img-list">
                                    <img class="product-image-to-select" ng-style="(image == selectedImage) && {'border':'1px solid rgba(0,0,0,0.1)', 'border-radius' : '4px'}"
                                        ng-click="selectImage(image)" ng-src="{{ image }}">
                                </div>
                            </div>
                        </div>
<!--googleon: snippet-->
                        <div class="col-md-6 product-property fadeIn">
                            <h2 class="product-name-h2-web">
                                <span>
                                    <%= product_brand %>
                                </span>
                                <span>
                                    <%= product_name %>
                                </span> - Deliver Now</h2>
<!--googleoff: snippet-->
                            <section class="web-location-sec-mob">
                                <div>
                                    <a class="web-location-a" href="/main" ng-cklick="navHubClicked()" target="_self">Store Hub</a>
                                    <span class="loc-errow"> > </span>
                                    <a class="web-location-a" href="/hub/{{product.store_type_name}}" ng-cklick="navStoreClicked(product.store_type_name)" target="_self">{{ product.store_type_display_name }}</a>
                                    <span class="loc-errow"> > </span>
                                    <a class="web-location-a loc-category" href="/hub/{{ product.store_type_name }}/{{ product.category }}" ng-click="navCatClicked(product.category)" target="_self">{{ product.category }}</a>
                                    <span class="loc-errow"> > </span>
                                    <a class="web-location-a" ng-click="hrefToSubcat(product)" href="" target="_self">{{ product.subcategory }}</a>
                                </div>
                            </section>
<!--googleon: snippet-->
                            <%- product_image %>
                                <%- ingredients %>
<!--googleon: snippet-->
                                    <section layout="column" class="section-box">
                                        <div class="size-section">
                                            <div class="size-buttons" layout="row">
                                                <button class="size-button-left" ng-click="volumeLeft(product)">
                                                    <span class="size-part-hdr">size</span>
                                                    <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
                                                </button>
                                                <button class="size-button-right" ng-click="volumeRight(product)">
                                                    <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                                                </button>
                                            </div>
                                            <ul layout="row">
                                                <li class="size-box-left text-verflow">
                                                    {{ product.product_variants.all_volumes[product.product_variants.selectedVolume - 1] }}
                                                </li>
                                                <li class="size-box-middle">
                                                    {{ product.product_variants.all_volumes[product.product_variants.selectedVolume] }}
                                                </li>
                                                <li class="size-box-right text-verflow">
                                                    {{ product.product_variants.all_volumes[product.product_variants.selectedVolume + 1] }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="size-section">
                                            <div class="size-buttons" layout="row">
                                                <button class="size-button-left" ng-click="packLeft(product)">
                                                    <span class="size-part-hdr">pack</span>
                                                    <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
                                                </button>
                                                <button class="size-button-right" ng-click="packRight(product)">
                                                    <ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>
                                                </button>
                                            </div>
                                            <ul layout="row">
                                                <li class="size-box-left text-verflow">
                                                    {{ product.product_variants[product.product_variants.all_volumes[product.product_variants.selectedVolume]].all_packagings[product.product_variants.selectedPack - 1 ] + ' '}}
                                                </li>
                                                <li class="size-box-middle">
                                                    {{ product.product_variants[product.product_variants.all_volumes[product.product_variants.selectedVolume]].all_packagings[product.product_variants.selectedPack ] + ' '}}
                                                </li>
                                                <li class="size-box-right text-verflow">
                                                    {{ product.product_variants[product.product_variants.all_volumes[product.product_variants.selectedVolume]].all_packagings[product.product_variants.selectedPack + 1] + ' '}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="selected-product-price">C${{' ' + product.product_variants[product.product_variants.all_volumes[product.product_variants.selectedVolume]][product.product_variants[product.product_variants.all_volumes[product.product_variants.selectedVolume]].all_packagings[product.product_variants.selectedPack]].price }}
                                        </div>
                                        <button class="add-to-cart hover-raise" ng-click="addToCart(product)">Add To Cart</button>
                                    </section>
                                    <div layout="column">
                                        <h3 class="product-details-header sub-header">Product Details</h3>
                                        <ul class="bullet-description">
                                            <li>
                                                <span class="bold">Product:</span> {{ product.product_variants[product.product_variants.all_volumes[product.product_variants.selectedVolume]].all_packagings[product.product_variants.selectedPack] }} x {{ product.product_variants.all_volumes[product.product_variants.selectedVolume] }}
                                                <span class="product-details-container">{{ product.product_variants.container }}</span>
                                            </li>
<!--googleon: snippet-->
                                            <%- store_type_display_name %>
                                                <li class="none">
                                                    <span class="bold">Location:</span>
                                                    <span itemprop="additionalProperty">Calgary, AB</span>
                                                </li>
                                                <%- product_type %>
                                                    <%- country_of_origin %>
                                                        <%- producer %>
                                                            <%- alcohol_content %>
                                                                <li>
                                                                    <a href="<%= see_more_url %>" target="_self" itemprop="isSimilarTo">See More Similar Products</a>
                                                                </li>
                                        </ul>
                                    </div>
                        </div>
                    </section>
                </div>
                <%- preview %>
                    <%- serving_suggestions %>
                        <div class="recomended-products">
<!--googleoff: snippet-->
                            <section layout="row" class="recomended-products-header">
                                <div class="recomended-products-header-line"></div>
                                <div class="rec-prod-hdr-text text-affect-3D">People also Homit</div>
                            </section>
                            <section class="recomended-item fadeIn">
                                <div class="recomended-item-div">
                                    <a ng-repeat="item in recommended_products" href="{{item.product_url}}" ng-cklick="peopleHomitPrdClicked(item)" target="_self">
                                        <ul class="recomended-item-ul">
                                            <li class="also-image-li box-center">
                                                <img ng-src="/resources/images/products/{{ item.category }}/{{ item.image }}">
                                            </li>
                                            <li class="recomended-item-brand">{{ item.brand }}</li>
                                            <li class="recomended-item-name" ng-if="item.packaging > 1"><span>{{ item.name }}<span class="recomended-item-size"> {{ "(" + item.packaging + "x" + item.volume + ")"}}</span></span></li>
                                            <li class="recomended-item-name" ng-if="!(item.packaging > 1)"><span>{{ item.name }}<span class="recomended-item-size"> {{ "(" + item.volume + ")"}}</span></span></li>
                                            <li class="item-price">{{ item.price }}
                                                <span>C$</span>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </section>
<!--googleon: snippet-->
                        </div>
            </div>

        </div>

        <% if (!production) { %>
            <script src="/resources/services/localStorage.js"></script>
            <script src="/resources/services/cartService.js"></script>
            <script src="/resources/controllers/product.js"></script>
            <% } %>
</body>

<footer>
    <%- include('partial/footer')%>
</footer>

</html>