<html ng-app="mainModule">

<head>
    <meta name="description" content="On Demand delivery from any of our hub stores for only C$4.99."/>
    <meta property="og:description" content="On Demand delivery from any of our hub stores for only C$4.99."/>
    <%- include('partial/imports')%>
    <%- include('partial/header', {title: title}); %>
    <link href="/resources/css/unions.css" rel="stylesheet">
</head>
<body ng-cloak>
<!--googleoff: snippet-->
    <%- include('partial/checkout_menu')%>
    <div ng-controller="unionsPageController" style="min-height: calc(100vh - 270px); width: 1180px; margin: 0 auto;">
    <%= union_display_name%>

    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; padding: 0 10%;">
        <a href="/hub/{{store.name}}" target="_self" style="width: 200px;" ng-repeat="store in unionStores">
            <img style="width: 200px; height: 270px;" alt="{{store.name}}" ng-src="/resources/images/catalog-stores/logo/{{store.image}}">
            <div style="padding: 7px; font-size: 17px; color: #68686b; -webkit-font-smoothing: antialiased;">{{store.display_name}}</div>
        </a>

    </div>

    </div>
<!--googleon: snippet-->
    <% if (!production) { %>
        <script src="/resources/services/localStorage.js"></script>
        <script src="/resources/services/cartService.js"></script>
        <script src="/resources/controllers/unions.js"></script>
    <% } %>
</body>
<footer>
    <%- include('partial/footer')%>
</footer>

</html>