<title>
    <%= title %>
</title>

<link href="/resources/css/header.css" rel="stylesheet">
<link href="/resources/css/generic.css" rel="stylesheet">
<nav layout="column" ng-controller="NavigationController" class="navCont" ng-cloak>
    <md-toolbar class="homit-header-bigscreen fixed-header">
        <div class="md-toolbar-tools header">
            <div class="header-icon">
                <a class="mVerHedL2a1" href="/main" target="_self">
                    <img ng-src="{{'/resources/images/Homit_Logo_white.jpeg'}}" width="42px;" height="75%" />
                </a>
            </div>
            <div class="mnSrch">
                <md-input-container class="mnSrchA" layout="row">
                    <md-button aria-label="searchOrClear" class="mnSrchB" ng-click="searchRequest = '' ; searchResult = ''; ">
                        <ng-md-icon ng-if="!searchRequest" icon="search" class="header-search-icon" size="25"></ng-md-icon>
                        <ng-md-icon ng-if="searchRequest" icon="clear" class="header-search-icon" size="25"></ng-md-icon>
                    </md-button>
                    <label class="mnSrchAA">
                    </label>
                    <input id="glbSearchRequest" ng-model="searchRequest" placeholder="Search to Homit...">
                </md-input-container>
                <div ng-if="searchResult" id="glbSearchRequest" class="mnSrchC">
                    <ul ng-if="searchResult[0].result" id="glbSrchA" class="mnSrchCA">
                        <li ng-repeat="node in searchResult">
                            <a href="{{node.path}}" target="_self" ng-click="sendSubcategory(node.subcategory, '' )" id="{{$index + 1}}" class="srchRslt mnSrchCAAA">
                                <span class="mnSrchCAAAA">{{node.result}}</span>
                            </a>
                        </li>
                    </ul>
                    <ul ng-if="!searchResult[0].result" id="glbSrchB" class="mnSrchCB">
                        <li ng-repeat="node in searchResult">
                            <a href="{{node.path}}" target="_self" ng-click="sendSubcategory(node.subcategory, node.product_id)" id="{{$index + 1}}"
                                class="srchRslt mnSrchCBAA">
                                <span class="mnSrchCBAAA">
                                    <img class="mnSrchImg" ng-src={{node.image}}>
                                </span>
                                <span class="mnSrchCBAAB">{{node.brandName}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hdrRend">
                <md-button aria-label="header-dashboard" id="dashboardBtn" ng-click="hdrExtBx('hdrHub', 'hdrHub1', 'hdrHub2', 'hdrHub3')" class="hdrRendBtn">
                    <ng-md-icon icon="dashboard" class="header-icon"></ng-md-icon>
                </md-button>
                <md-button ng-if="!<%=isSignedIn%>"  aria-label="header-sign" data-toggle="modal" data-target="#loginModal" class="hdrRendBtn">
                    <ng-md-icon icon="person_outline" class="header-icon"></ng-md-icon>
                </md-button>
                <md-button ng-if="<%=isSignedIn%>" aria-label="myAccExtBox" ng-click="hdrExtBx('hdrMyAcc', 'hdrMyAcc1', 'hdrMyAcc2', 'hdrMyAcc3')" class="hdrRendBtn">
                    <ng-md-icon icon="person" class="header-icon"></ng-md-icon>
                </md-button>
                <div id="hdrMyAcc" aria-hidden="true" ng-if="<%=isSignedIn%>" class="myAccnt fdIn">
                    <div id="hdrMyAcc1" class="bxExtn"></div>
                    <div id="hdrMyAcc" class="storeHubA">
                        <ul id="hdrMyAcc3" class="myAccntAA" layout="column">
                            <li  class="myAccntBAA myAccntFCS" ng-click="hrefTo('/myaccount')">
                                <div>
                                    <span class="hmtHubTxt myAccntBAAAA"><%= username %></span>
                                </div>
                            </li>
                            <li  class="myAccntBAB myAccntFCS" ng-click="hrefTo('/checkout')">
                                <div>
                                    <span class="hmtHubTxt myAccntBAAAA">Check Out</span>
                                </div>
                            </li>
                            <li class="myAccntBAC"></li>
                            <li  class="myAccntBAD myAccntFCS" ng-click="logout()">
                                <div >
                                    <span class="hmtHubTxt myAccntBADAA">Sign Out<span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </md-toolbar>
    <!-- For small screens -->
    <md-toolbar class="homit-header-smallscreen fixed-header" ng-if="screenIsMob">
        <div class="md-toolbar-tools header">
            <md-button class="header-icon">
                <ng-md-icon aria-label="clearHeaderSearch" icon="search" class="header-icon" size="95"></ng-md-icon>
            </md-button>
            <md-button aria-label="header-Logo" class="header-icon" style="left: 6%;">
                <a href="/main" target="_self">
                    <img ng-src="{{'/resources/images/Homit_Logo.jpeg'}}" width="100" height="100" />
                </a>
            </md-button>
            <div class="hdrRend">
                <md-button aria-label="header-sign" class="header-icon" style="display: flex; margin-right: auto;" ng-click="storeHub = !storeHub"
                    ng-class="{'button-press-feel': storeHub}">
                    <ng-md-icon icon="dashboard" class="header-icon" size="92"></ng-md-icon>
                </md-button>
                <md-button ng-if="!<%=isSignedIn%>" aria-label="header-sign" class="header-icon" data-toggle="modal" data-target="#loginModal">
                    <ng-md-icon icon="person_outline" class="header-icon" size="95"></ng-md-icon>
                </md-button>
                <md-button ng-if="<%=isSignedIn%>" aria-label="userDropDown" ng-class="{'button-press-feel': userDropDown}" ng-click="showHideUserDropdown()">
                    <ng-md-icon icon="person" class="header-icon" size="95"></ng-md-icon>
                </md-button>
                <div ng-show="userDropDown">
                    <ul layout="column" class="infoDrDwnA">
                        <li class="infoDrDwnAA">
                            <a href="/myaccount" target="_self" class="infoDrDwnAAA">
                                <ng-md-icon icon="settings" size="35"></ng-md-icon>&#8198
                                <%= username %>
                            </a>
                        </li>
                        <li class="infoDrDwnAB">
                            <a href="#" target="_self" class="infoDrDwnAAA" ng-click="logout()">
                                <ng-md-icon icon="logout" size="35"></ng-md-icon>&#8198Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </md-toolbar>
    <!-- Dashboard -->
    <div id="hdrHub" aria-hidden="true" class="storeHub fdIn">
        <div id="hdrHub1" class="bxExtn"></div>
        <div id="hdrHub2" class="storeHubA">
            <ul id="hdrHub3" class="storeHubAA" layout="column">
                <li flex="20" class="storeHubAAA" ng-click="hrefTo('/catalog/snackvendor')">
                    <div class="storeHubAAAA">
                        <ng-md-icon icon="panorama_vertical" class="storeHubAAAAA" size="40">
                    </div>
                    <div class="hmtHubTxt storeHubAAAAB">Snack Vendor</div>
                </li>
                <li flex="20" class="storeHubAAA" class="text-center" ng-click="hrefTo('/catalog/liquor')">
                    <div class="storeHubAAAA">
                        <ng-md-icon icon="local_bar" class="storeHubAAAAA" size="40">
                    </div>
                    <div class="hmtHubTxt storeHubAAAAB">Liqour Station</div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<%- include('signup')%>

    <script src="/resources/controllers/header.js"></script>
    <script src="/resources/services/storage.js"></script>
    <script>
        $(document).ready(function () {
            if ("#<%=tabId%>" != "#") {
                $("#<%=tabId%>").addClass("active");
            }

            $(window).resize(function () {
                var navHeight = $(".navbar").height();
                $(document.body).css("margin-top", navHeight);
            });

            $(window).resize();
        });
    </script>