<title> <%= title %> </title>

<link href="/resources/css/header.css" rel="stylesheet">
<link href="/resources/css/generic.css" rel="stylesheet">
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/main" target="_self">Delivery Start Up</a>
        </div>
        <div class="collapse navbar-collapse ng-cloak">
            <div class="navbar-text navbar-right dropdown" ng-if="<%=isSignedIn%>">  
                <a href="#" class="navbar-link" data-toggle="dropdown">Welcome <%= username %>  <span class="glyphicon glyphicon-chevron-down"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/myaccount" target="_self">My Account</a></li>
                    <li><a href="#" target="_self" ng-click="logout()">Log out</a></li>
                </ul>
            </div>
            <button class="btn btn-default navbar-btn navbar-right" ng-if="!<%=isSignedIn%>" data-toggle="modal" data-target="#loginModal">Sign in/up</button>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                        </span>
                    </div>
                </div>    
            </form>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-pills nav-justified nav-pills">
            <li id="beersTab" role="presentation"><a href="/catalog?product=beers" target="_self">Beers</a></li>
            <li id="winesTab" role="presentation"><a href="/catalog?product=wines" target="_self">Wines</a></li>
            <li id="spiritsTab" role="presentation"><a href="/catalog?product=spirits" target="_self">Spirits</a></li>
            <li id="othersTab" role="presentation"><a href="/catalog?product=others" target="_self">Others</a></li>
        </ul>
    </div>
</nav>

<%- include('signup')%>

<script src="/resources/controllers/header.js"></script>

<script>
    $(document).ready(function(){
        if ("#<%=tabId%>" != "#"){
            $("#<%=tabId%>").addClass("active");
        }

        $(window).resize(function(){
            var navHeight = $(".navbar").height();
            $(document.body).css("margin-top", navHeight);
        });

        $(window).resize();
    });
</script>





            