<title> <%= title %> </title>
<link href="/resources/library/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/library/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/resources/css/header.css" rel="stylesheet">
<link href="/resources/css/generic.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/main" target="_self">Delivery Start Up</a>
        </div>
        <div class="collapse navbar-collapse cartIcon">
            <div class="navbar-text navbar-right dropdown" ng-if="<%=isSignedIn%>">  
                <a href="#" class="navbar-link" data-toggle="dropdown">Welcome, <%= username %>  <span class="glyphicon glyphicon-chevron-down"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/myaccount" target="_self">My Account</a></li>
                    <li><a href="/api/authentication/signout" target="_self">Log out</a></li>
                </ul>
            </div>
            <button class="btn btn-default navbar-btn navbar-right" ng-if="!<%=isSignedIn%>" data-toggle="modal" data-target="#loginModal">Sign in/up</button>
<!--Cart Dropdown Box-->
            <div ng-controller="cartController">
                <a id="cart" onmouseover="mouseOn()" onmouseout="mouseOut()" class="btn btn-default navbar-btn navbar-right glyphicon glyphicon-shopping-cart cartIcon">
                    <div class="cartBox">
                        <div>    
                            Total: {{totalAmount}}C$
                           <button class="btn btn-default btn-sm" href="#"> Check Out</button>
                        </div>
                        <div ng-repeat="product in userCart">
                            <li><button class="btn btn-xs cartBoxRemoveBtn glyphicon glyphicon-remove-circle" ng-click="removeFromCart(product)"></button></li>
                            <ul class="cartBoxUl">
                                <span class="cartBoxText"> 
                                    <li><button class="glyphicon glyphicon-plus-sign plusMinusItem" ng-click="plusItem(product)"></button></li>
                                    <li><button class="glyphicon glyphicon-minus-sign plusMinusItem" ng-click="minusItem(product)"></button></li>
                                </span>
                            </ul>
                            <ul class="cartBoxUl">
                                <li><img ng-src={{product.image}} width="60" height="85"></li>
                            </ul>
                            <ul class="cartBoxUl">
                                <span class="cartBoxText"> 
                                    <li>{{product.brand}}</li>
                                    <li>{{product.packaging}}</li>
                                    <li>{{product.price}} CAD</li>
                                    <li>#{{product.quantity}}</li>
                                </span>
                            </ul>
                        </div>
                        <button class="btn btn-default btn-sm" ng-click="clearCart()">Clear Cart</button>
                    </div>
                </a> 
                <div class="cartNotificationNumber">{{numberOfItemsInCart}}</div>
            </div>
            
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                        </span>
                    </div>
                </div>    
            </form>
        </div>
    </div>

    <div class="container" ng-controller="NavigationController as nav">
        <ul class="nav nav-pills nav-justified nav-pills">
            <li id="beersTab" role="presentation"><a href="/catalog?product=beers" target="_self">Beers</a></li>
            <li id="winesTab" role="presentation"><a href="/catalog?product=wines" target="_self">Wines</a></li>
            <li id="spiritsTab" role="presentation"><a href="/catalog?product=spirits" target="_self">Spirits</a></li>
            <li id="othersTab" role="presentation"><a href="/catalog?product=others" target="_self">Others</a></li>
        </ul>
    </div>
</nav>

<div class="notifications text-center" ng-controller="notificationController as notification">
    <div class="alert alert-dismissable" ng-class="notification.type" ng-if="notification.show">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{notification.message}}
    </div>
</div>


<!-- Modal for log in/sign up -->
<div id='loginModal' class="modal fade" tabindex="-1" role="dialog" ng-controller="LoginController as login">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3>{{login.modalTitle}}</h3>
        </div>
        
        <div class="modal-body">
            <div class="alert alert-warning" role="alert" ng-show="login.error == 1"><strong>Login doesn't exist.</strong><br>Would you 
                like to <a ng-click='login.goToSignUpForm();' style="cursor: pointer;">sign up?</a>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="login.error == 2"><strong>Incorrect password</strong><br> 
               <a ng-click='login.goToForgotPasswordForm();' style="cursor: pointer;">forgot password?</a>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" ng-click="login.reset();" ng-show ="login.goToSignUp || login.goToSignIn">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    Back
                </button>
            </div>
            <form>
                <div class="form-group" ng-hide="login.goToForgotPassword">
                    <input name="email" type="email" ng-model="login.email" class="form-control" ng-disabled="login.goToSignUp || login.goToSignIn" placeholder="Email" required/>
                </div>

                <!-- Sign in form -->
                <div name="signInForm" class="form-group" ng-if="login.goToSignIn">
                    <input name="password" type="password" ng-model="login.password" class="form-control" placeholder="Password" required/>  
                    <a href="#" class="center" ng-click="login.goToForgotPasswordForm()">Forgot Password?</a>
                </div>

                <!-- Sign up form -->
                <div name="signUpForm" ng-if="login.goToSignUp">
                    <div class="form-group">
                        <input name="firstname" ng-model="login.fname" class="form-control" placeholder="First name" required/>  
                    </div>
                    <div class="form-group">
                        <input name="firstname" ng-model="login.lname" class="form-control" placeholder="Last name" required/>  
                    </div>
                    <div class="form-group">
                        <input name="phone" ng-model="login.phone" class="form-control" placeholder="Phone" required/>
                    </div>
                    <div class="form-group">
                        <input name="newPassword" ng-model="login.npassword" class="form-control" type="password" placeholder="Password" required/>    
                    </div>
                    <div class="form-group">
                        <input name="confirmPassword" ng-model="login.cpassword" class="form-control" type="password" placeholder="Confirm password" required/>    
                    </div>
                    <div class="form-group">
                        <input name="dob" ng-model="login.dob" type="date" class="form-control" placeholder="Date of Birth" required/>    
                    </div>
                </div>

                <!-- Forgot password form -->
                <div name="forgotPasswordForm" class="form-group" ng-if="login.goToForgotPassword">
                    <input name="resetEmail" type="email" ng-model="login.forgotPasswordEmail" class="form-control" placeholder="Email" novalidate required/>  
                </div>

                <button class="btn btn-success full-width" ng-click="login.checkState();">{{login.mainButtonText}}</button>
            </form>


        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<script src="/resources/library/js/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="/resources/library/js/jquery.min.js"></script>
<script src="/resources/library/js/bootstrap.min.js"></script>
<script src="/resources/controllers/header.js"></script>

<script>
    $(document).ready(function(){
        if ("#<%=tabId%>" != "#"){
            $("#<%=tabId%>").addClass("active");
        }

        $(window).resize(function(){
            var navHeight = $(".navbar").height();
            $(document.body).css("margin-top", navHeight);
        });

        $(window).resize();
    });
</script>





            